.root{
    font-size: 0;
    height: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    /* scroll-snap-type: x mandatory; */
    scroll-behavior: smooth;
    overflow: hidden;
}

.page {
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
    transform: rotate(0deg) translateX(0%);
    transform-origin: center;
    /* scroll-snap-align: center; */

    @media (max-width: 600px){
        /* padding: 50px; */
    }
}

.page:nth-child(1) {
    background: linear-gradient(90deg, var(--primaryDark) 50dvw, transparent 300dvw),
            url("../../Assets/images/mhx6v.gif");
    background-size: contain;
    background-position: 180%;
    position: relative;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
    .page:nth-child(1){
        background: linear-gradient(180deg, var(--primaryDark) 75dvh, transparent 150dvh),
            url("../../Assets/images/mhx6v.gif");
        background-size: contain;
        background-position: 0% 100%;
        position: relative;
        background-repeat: no-repeat;
    }
}

.blur-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    z-index: -1;
    /* background-color: rgba(35, 35, 35, 0.7); */
}

.page:nth-child(2){
    background-color: var(--primaryDark);
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 40px; */
    /* margin-top: 25dvh; */
    padding: 0 5vw;

    @media (max-width: 600px){
        flex-direction: column-reverse;
        height: 100%;
        /* margin: 18dvh; */
    }
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    font-weight: 600;
    text-align: left;
    word-break: break-word;
    white-space: pre-line;
}
@media only screen and (max-width: 600px){
    .info-container{
        text-align: center;
    }
}

.info-container .bold{
    font-size: 60px;
    font-weight: 800;
    color: var(--primaryLight);
    /* margin: 0 10px; */
}

.info-container div{
    font-size: 40px;
    color: var(--primaryYellow)
}

.info-container .sub-heading{
    color: var(--primaryLight);
    text-align: center;
    font-size: 16px;
    @media (max-width: 600px){
        font-size: 14px;
    }
}

/* .image-container{
    z-index: 99;
    width: 25vw;
    height: 100%;
    position: relative;
    @media (max-width: 600px){
        border: 1px solid var(--primaryBlue);
        display: none;
    }
} */

/* .handsome {
    width: 350px;
    margin-top: -40px;
    margin-left: -110px;
    padding-bottom: 0;
    z-index: 999;

    @media (max-width:600px) {
        width: 300px;
    }
} */

.lp-svg {
    position: absolute;
    top: -50%;
    right: -40%;
    scale: 75%;
    z-index: -11;
    height: auto;

    @media (max-width: 600px) {
        /* opacity: 0; */
        scale: 50%;
        top: -11dvh;
        right: -40vw;
    }
}

.title{
    color: var(--primaryYellow);
    font-weight: 800;
    font-size: 60px;
    @media (max-width: 600px){
        font-size: 45px;
        color: var(--primaryYellow);
        font-weight: 900;
        letter-spacing: 4px;
        /* text-shadow: -1px -1px 0 var(--primaryGrey), 1px -1px 0 var(--primaryGrey), -1px 1px 0 var(--primaryGrey), 1px 1px 0 var(--primaryGrey); */
    }
}

.intro{
    color: var(--primaryMain);
    margin-top: 1.5em;
    font-size: 20px;
    @media (max-width: 600px){
        color: var(--primaryDark);
        letter-spacing: -0.5px;
        margin-top: 30px
    }
}

.sub-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--primaryYellow);
    gap: 20px;
    margin-top: 3%;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
   .sub-info{
    font-size: 16px;
    flex-direction: column;
    align-items: flex-start;
    /* margin-top: 100px; */
    gap: 50px;
    color: var(--primaryLight);
    height: 50dvh;
    justify-content: center;
    letter-spacing: -1px;
   }
}

/* Typewriter effect  */


/* page 2 */

.page-2{
    width: 100vw;
    height: 100dvh;
    display: flex;
    padding: 20px 100px
}

.flex-item {
    flex: 1;
}

.services {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    /* margin: auto */
}

.lottie-icon-container {
    background: rgba(255, 255, 255, 0.1);
    /* Slightly transparent white for a frosted glass effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
    /* Soft shadows for a neo morphism look */
    border-radius: 50%;
    padding: 10px;
    flex-shrink: 1;
}

.tech-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: var(--primaryLight);
}

.tech-info .header{
    color: var(--primaryYellow);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.tech-info .info{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.5px;
    white-space: break-spaces;
    /* word-break: break-all; */
    overflow-wrap: break-word;
}

@media only screen and (max-width: 600px){
    .page-2{
        flex-direction: column;
        padding: 10px;
    }
    .flex-item{
        flex:1;
    }
    
    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .lottie-icon-container{
        margin: auto;
    }
    
}