.root{
    font-size: 0;
    height: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    /* scroll-snap-type: x mandatory; */
    scroll-behavior: smooth;
    overflow: hidden;
}

.page {
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
    transform: rotate(0deg) translateX(0%);
    transform-origin: center;
    /* scroll-snap-align: center; */

    @media (max-width: 600px){
        /* padding: 50px; */
    }
}

.page:nth-child(1) {
    /* background: linear-gradient(90deg, var(--primaryDark) 70%, var(--primaryMain) 40%); */
    background: linear-gradient(90deg, var(--primaryDark) 50dvw, transparent 300dvw),
            url("../../Assets/images/mhx6v.gif");
    /* background: url("../../Assets/images/ezgif.com-optimize.gif"); */
    background-size: contain;
    background-position: 180%;
    position: relative;
    background-repeat: no-repeat;

    @media (max-width: 600px){
        background: linear-gradient(90deg, var(--primaryDark) 40%, transparent 160%),
                url("../../Assets/images/mhx6v.gif");
        background-size:500%;
        background-position: center;
    }

}

.blur-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: -1;
    /* background-color: rgba(35, 35, 35, 0.7); */
}

/* @media only screen and (max-width: 600px){
    .page:nth-child(1){
        background: linear-gradient(0deg, var(--primaryDark) 50%, var(--primaryMain) 30%);
    }
} */

.page:nth-child(2){
    background-color: var(--primaryMain);
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    margin-top: 25dvh;
    padding: 0 5vw;

    @media (max-width: 600px){
        flex-direction: column-reverse;
        height: 100%;
        margin: 18dvh;
    }
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.image-container{
    z-index: 99;
    /* opacity: 0; */
    width: 25vw;
    height: 100%;
    position: relative;
    @media (max-width: 600px){
        border: 1px solid var(--primaryBlue);
        display: none;
    }
}

.handsome {
    width: 350px;
    margin-top: -40px;
    margin-left: -110px;
    /* position: absolute; */
    /* border: 1px solid var(--primaryBlue); */
    /* padding: 10px; */
    padding-bottom: 0;
    z-index: 999;

    @media (max-width:600px) {
        width: 300px;
    }
}

.lp-svg {
    position: absolute;
    top: -50%;
    right: -40%;
    scale: 75%;
    z-index: -11;
    height: auto;

    @media (max-width: 600px) {
        /* opacity: 0; */
        scale: 50%;
        top: -11dvh;
        right: -40vw;
    }
}

.title{
    color: var(--primaryYellow);
    font-weight: 800;
    font-size: 60px;
    @media (max-width: 600px){
        font-size: 45px;
        color: var(--primaryYellow);
        font-weight: 900;
        letter-spacing: 4px;
        /* text-shadow: -1px -1px 0 var(--primaryGrey), 1px -1px 0 var(--primaryGrey), -1px 1px 0 var(--primaryGrey), 1px 1px 0 var(--primaryGrey); */
    }
}

.intro{
    color: var(--primaryMain);
    margin-top: 1.5em;
    font-size: 20px;
    @media (max-width: 600px){
        color: var(--primaryDark);
        letter-spacing: -0.5px;
        margin-top: 30px
    }
}

.sub-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--primaryYellow);
    gap: 20px;
    margin-top: 3%;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
   .sub-info{
    font-size: 16px;
    flex-direction: column;
    align-items: flex-start;
    /* margin-top: 100px; */
    gap: 50px;
    color: var(--primaryLight);
    height: 50dvh;
    justify-content: center;
    letter-spacing: -1px;
   }
}

/* page 2 */

.page-2{
    display: flex;
    width: 100%;
    height: 100dvh;
    background-color: var(--primaryMain);
    @media (max-width: 600px){
        flex-direction: column;
        padding: 20px;
    }
}

.design-container, .engineering-container{
    @media (max-width:600px){
        height: 50dvh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        /* margin-top: 50px; */
    }
}

.design-container{
    @media (max-width:600px) {
        border-bottom: 3px outset var(--primaryDarkBlue);
    }
}

.design-container > .heading, 
.engineering-container > .heading {
    color: var(--primaryDarkBlue);
    font-weight: 800;
    font-size: 40px;
}

.design-container > p,
.engineering-container > p {
    color: var(--primaryGrey);
    @media (max-width: 600px){
        word-break: break-word;
        white-space: pre-line;
        font-size: 18px;
        font-weight: 600;
    }
}